body {
    font-family: Arial, sans-serif;
    background-color:rgb(32, 30, 32);
    padding: 20px;
  }
  
  #app {
    max-width: 500px;
    margin: 0 auto;
    background-color: burlywood;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  #textInput, #stutus, #time {
    font-size: 16px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  h1 {
    color: white;
  }

  label {
    color: white;
  }

  button:hover {
    background-color: #3e8e41;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li span {
    margin-right: 10px;
  }
  
  li button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  li button.edit {
    background-color: #008CBA;
  }
  
  li button.complete {
    background-color: #4CAF50;
  }
  
  li button:hover {
    background-color: #e53935;
  }